@import "bootstrap/_functions";

@import "variables.scss";
@import "variables-dark.scss";

@import "bootstrap/_bootstrap";

@import "navbar";
@import "poster";
@import "title";
@import "aside";
@import "carousel";
@import "movie";
@import "serie";
@import "auth";
@import "profile";
@import "hack";